<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="">
	<script type="text/javascript"></script>

</head>
<body>
	<header> Header </header>
	<nav> Nav </nav>
	<main>
		<section> Section </section>
		<aside>
			Aside
			<h1></h1>
			<p></p>
			<small></small>
			<strong></strong>
			<ul></ul>
			<u></u>
		</aside>
	</main>
	<footer> Footer </footer>
	<img src="C:\xampp\htdocs\tutoriales\front-end\prueba1\imag\ahorremos.jpg" alt="no se encuentra la imagen" hspace="520" height="200">
	<!-- 
	alt: mensaje alterno
	hspace: margen de izquierda a derecha
	height: tamaño de la imagen
	-->

</body>
</html>