<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">		<!-- sirve para agregar cualquier caracter ejmplo(tildes y la letra ñ) -->
	<meta name="description" content="Esta es una pagina de practica"> <!-- Sirve para posicionar nuestra pagina web con los contenidos que escribamos-->
	<meta name="author" content="Alexander Saldivar Q"> 	<!-- sirve para hacer referencia quien creo la pagina -->
	<title> practicando </title>		<!-- Nombre de la pestaña -->
	<link rel="stylesheet" type="text/css" href="estilos.css">		<!-- Sirve para llamar archivos externos o locales, como archivos de formato css o estilos -->

	<script type="text/javascript" src="">		//sirve para agregar codigo JS o traer un codigo JS
	</script>

</head>
<body>
	<!-- Escribir texto fuera de una etiqueta esta MAL -->
	<!-- Etiqueta que engloban texto -->
	<!-- Etiqueta tipo block : ejm: <a></a> -->
	<h2>
			<u> Practica Nro. 2 </u>
	</h2>
	<h1> Etiqueta h1 </h1>
	<h2> Etiqueta h2 </h2>
	<h3> Etiqueta h3 </h3>
	<h4> Etiqueta h4 </h4>
	<h5> Etiqueta h5 </h5>
	<h6> Etiqueta h6 </h6>

	<p> Hola soy un texto agregado en p </p>
	<span> Hola soy de texto agregado de span </span>
	<br>			<!-- Sirve para hacer un salto de linea -->
	<strong> Hola soy un texto agregado en strong </strong>
	<br>		<!-- target: Sirve para abrir otra pestaña -->
	<a href="http://www.google.com" target="_blank" > Click aqui - soy a </a>	<!-- Sirve para direccionar -->
	<br>

	<!-- texto con formato - fuente -->
		<b> Hola soy b - fomato negrita </b>
	<br>
		<i> Hola soy i - formato cursiva </i>
	<br>
		<em> Hola soy em - formato cursiva </em>
	<br>
		<u> Hola soy u - formato subrayado </u>
	<br>
	<br>
		<strike> Hola soy strike - Texto tachado </strike>
	<br>
		<s> Hola soy s - texto tachado </s>
	<br>
		<del> Hola soy del - texto tachado </del>
	<br>

	<!-- Tamaño del texto -->
	<small> Hola soy small - texto pequeño </small>
	<br>
	<big> Hola soy big - texto grande </big>
	<br>

	<!-- Texto con indice -->
	<sub> Hola soy sub - texto en subindice (espacio encima)  </sub>
	<br>
	<sup> Hola soy sup - texto en superindice (expacio debajo) </sup>
	<br>
	
</body>
</html>