<!DOCTYPE html>
<html>
<head>
	<title> Listas </title>
</head>
<body>

	<h2>
		<u> Practica Nro 5 </u>
		: Listado
	</h2>

	<!-- ======================================================= -->
	<!-- lista con puntos -->
	<big> <b>Listado desordenado</b> </big>
	<ul>
		<li> DVD </li>
		<li> TV </li>
		<li> Equipo de sonido </li>
		<li> Otros </li>
	</ul>

	<!-- lista ordenada o enumerada -->
	<big> <b> Lista ordenada </b> </big>
	<ol>
		<li> Desayuno </li>
		<li> Almuerzo </li>
		<li> Cena </li>
	</ol>
	<!-- dl: listar definicion - sirve para englobar definiciones -->
	<!-- dt: termino de definicion - sirve para nombrar nuestra definicion -->
	<!-- dd: describir definicion - sirve para describir nuestra definicion -->

	<dl>
		<dt> <b> ¿ Que es html ? </b> </dt>
		<dd> Es un lenguaje de marcas de hipertextos </dd>
		<dt><b> ¿Que es el huevo? </b></dt>
		<dd> El huevo es un animal rastrero </dd>
	</dl>

</body>
</html>