<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Form </title>
</head>
<body>
	<h2> <u> Practica Nro. 6</u>: Form </h2>

	<form>
		<h3> Login </h3>
		<label> Usuario</label><br>
		<input type="text" name="" placeholder="Ingrese su usuario">
		<br>
		<label> Password</label><br>
		<input type="password" name="" placeholder="Ingrese su contraseña">
		<br>
		<input type="submit" name="" value="Ingresar">
		<button> Save </button>
	</form>

	<form>
		<h3> Buscador </h3>
		<input type="search" name="" placeholder="Esto es un buscador">
		<input type="submit" name="" value="Buscar">
	</form>

	<form>
		<h3> Email </h3>
		<input type="email" name="" placeholder="Ingrese su email">
		<input type="submit" value="Ingrese Email">
	</form>

	<form>
		<h3> URL </h3>
		<input type="url" placeholder="ingrese un URL ">
		<input type="submit" value="Ingrese URL">
	</form>

	<form>
		<h3> Entrada numericas </h3>
		<input type="tel" placeholder="Ingrese su telefono">
		<input type="number" placeholder="Ingrese un numero">
	</form>

	<form>
		<h3> date </h3>
		<input type="date">
		<br>
		<label> Calcular el rango </label><br>
		<input type="range">
		<br>
		<label> Opcion de colores </label><br>
		<input type="color"><br>
		<label> Agregar nombre a la fecha </label><br>
		<input type="month" name="">

	</form>

</body>
</html>