<!DOCTYPE html>
<html>
<head>
	<title>CRUD Node.js Mysql</title>
	<!-- link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/yeti/bootstrap.min.css" -->
	<!--link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/superhero/bootstrap.min.css"-->
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<a href="/" class="navbar-brand"> CRUD Node.js - Mysql </a>
		<div class="col-md-10">
			<a href="/" class="navbar-brand">Estudiantes</a>
			<a href="/list" class="navbar-brand">Universitarios</a>
		</div>
	</nav>