/*selector
===================================
body {
    background: pink;       color de fond
}
*/

/* Selector descendente
===================================
body header div nav ol li a {
    color: white;
}
*/

/* Selector de class: . (Se pude repetir en varias etiquetas)
===================================
.link {
    color: red;
}
*/

/* Selector de id: # (solo es unico)
===================================
#portafolio {
    background: red;
}
*/

/*=============== Fuentes ===============*/
body {
    font-family: 'Source Sans Pro', sans-serif;     /* fuente (tipos de letras)*/
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;               /* grosor de fuente */
    /*font-style: italic;             /* estylo de fuente: itali, negrita, etc */
}

h1{
    line-height: 150%;              /*alto de linea*/
    font-size: 40px;                /*tamaño de fuente*/
    letter-spacing: 1px;            /*separación de letras*/
    text-transform: uppercase;      /*transformar el text en mayuscula o minuscula , etc*/               
    /*text-decoration: inherit;       /*decorar el texto*/
}

.header a {
    color: white;
    text-decoration: none;
}


/*============== Dimensiones ===============*/

.portfolio-details {
    width: 500px;                   /*limitar el ancho (horizontal)*/
    height: 250px;                  /*limitar la altura (vertical)*/
}

